#nav_menu-toggle
  display: block
  position: fixed
  margin-top: 2vh
  left: 20px
  z-index: 2
  user-select: none

  input
    display: block
    width: 40px
    height: 32px
    position: absolute
    top: -8px
    left: -7px
    cursor: pointer
    opacity: 0
    z-index: 3

  span
    display: block
    width: 33px
    height: 4px
    margin-bottom: 5px
    position: relative
    background: #000000
    border-radius: 3px
    z-index: 2

  input:checked ~ .menu
    transform: scale(1.0, 1.0)

.menu
  position: fixed
  display: flex
  flex-direction: column
  align-items: center
  width: 300px
  height: 80vh
  top: 10vh
  padding: 50px 0
  left: 0
  background: #fbffbf
  border-radius: 20px
  border: 1px solid #000000
  transform: translate(-100%, 0)
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
  z-index: 1

  @media (max-width: 640px)
    width: 100%
    height: auto
    padding: 10px 10px
    padding-top: 50px
    transform: translate(0, -100%)
    display: flex
    flex-direction: column
    align-items: center

  .nav_item
    border-bottom: 1px solid #000000
    border-radius: 20px
    width: 80%
    margin-bottom: 20px
    font-weight: bold
    font-family: sans-serif
    padding: 10px 0
    text-align: center

    @media (max-width: 640px)
      background: #ffffff
      margin-bottom: 5px

  .nav_item:hover
    background: #ffffff