<nav class="nav">
    <div id="nav_menu-toggle">
        <input type="checkbox" id="nav-input"/>
        <span></span>
        <span></span>
        <span></span>
        <div class="menu">
            <div class="nav_item" id="nav_item-createTable">Create a table</div>
            <div class="nav_item" id="nav_item-slider">Show slider</div>
            <div class="nav_item" id="nav_item-superButtons">Super buttons</div>
            <div class="nav_item" id="nav_item-studentsTable">Students table</div>
        </div>
    </div>
</nav>